* {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    align-content: center;
}
body {
    background-color: rgb(0, 0, 0);
    align-items: center;
    margin: 0px;
  }
header {
    background-image: url("./images/ES-es-20220912-popsignuptwoweeks-perspective_alpha_website_medium.jpg");
}

.menu {
    display: flex;
}
.log-in {
    display: flex;
    height: 30px;
}

#logoNetflix {
    display: flex;
    margin-left: 25px;
    margin-right: auto;   
    width: 150px;  
  }
#language {
    background-color: black;
    color: white;
}
#button {
    background-color: #e50914;
    font-weight: 400;
    line-height: normal;
    padding: 7px 17px;
    display: flex;
    margin-right: 0%;
    border: none;
    border-radius: 3px;
    margin-left: 10px;

}
  h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;
    font-size: 1.75rem;
    max-width: 640px;
  }

  h2 {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;
    font-size: 1.125rem;
  }´

  h3 {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;
  }

  h4 {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;
  }

  h5 {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;
  }

  h6 {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;
  }
  
  p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
  }

  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
  }
  button {
    background-color:#e50914;
    color:white;
  }
